In [1]:
import pandas as pd

In [2]:
samples = pd.read_csv('../../data_tables/confidence_tables/baseline_probabilities.connectivity_based.sensitivity_power2.Sep_23_2022.tsv',
                     sep='\t', index_col=0).index
samples

Index(['DLBCL10877', 'DLBCL10928', 'DLBCL_MC_F648_JKW', 'DLBCL10844',
       'DLBCL11501', 'DLBCL_RICOVER_829', 'DLBCL11443', 'DLBCL10869',
       'DLBCL11520', 'DLBCL10996',
       ...
       'DLBCL11540', 'DLBCL10529', 'DLBCL10878', 'DLBCL_RICOVER_720',
       'DLBCL_RICOVER_1329', 'DLBCL_C_D_PAIR20', 'DLBCL11504',
       'DLBCL_RICOVER_150', 'DLBCL11538', 'DLBCL_RICOVER_105'],
      dtype='object', length=699)

In [3]:
sig_genes = pd.read_csv('../../data_tables/qval_dfs/fisher_exact_5x2.Sep_23_2022.combined.tsv', 
                        sep='\t', index_col=0)
sg = sig_genes.loc[sig_genes['q'] < 0.10].index
sg = sg.str.replace('.', '-', regex=False)
sg = [x for x in sg if '-AMP' not in x and '-DEL' not in x and 'SV-' not in x]
sg

['DTX1',
 'CD70',
 'TNFAIP3',
 'NOTCH2',
 'BCL10',
 'B2M',
 'CD58',
 'FAS',
 'UBE2A',
 'ZEB2',
 'BCL7A',
 'TMEM30A',
 'EBF1',
 'GNAI2',
 'NFKBIE',
 'BCL6',
 'SPEN',
 'CXCR4',
 'IKZF3',
 'MYD88-OTHER',
 'POU2F2',
 'TUBGCP5',
 'SMG7',
 'CCDC27',
 'FADD',
 'RHOA',
 'TNIP1',
 'TP53',
 'EP300',
 'ZNF423',
 'BCL2',
 'CREBBP',
 'TNFRSF14',
 'EZH2',
 'HVCN1',
 'KMT2D',
 'IRF8',
 'GNA13',
 'MAP2K1',
 'SOCS1',
 'PTEN',
 'MEF2C',
 'MEF2B',
 'EEF1A1',
 'POU2AF1',
 'HIST1H1E',
 'SGK1',
 'DUSP2',
 'LTB',
 'KLHL6',
 'ZFP36L1',
 'HIST1H2BC',
 'CD83',
 'NFKBIA',
 'TET2',
 'BRAF',
 'HIST1H1C',
 'PTPN6',
 'YY1',
 'CRIP1',
 'RAC2',
 'HIST1H1B',
 'HIST1H2AM',
 'STAT3',
 'HIST1H1D',
 'ACTB',
 'SESN3',
 'PABPC1',
 'KRAS',
 'HIST1H2AC',
 'CD274',
 'METAP1D',
 'PIM1',
 'MYD88',
 'BTG1',
 'CD79B',
 'MYD88-L265P',
 'IGLL5',
 'ETV6',
 'TBL1XR1',
 'BTG2',
 'TMSB4X',
 'PRDM1',
 'GRHPR',
 'HLA-B',
 'CARD11',
 'HLA-A',
 'IRF2BP2',
 'OSBPL10',
 'TOX',
 'HLA-C',
 'PIM2',
 'SF3B1',
 'ZC3H12A',
 'ATP2A2',
 'BCL11A',
 'IRF4',
 'LYN',
 'ETS1']

In [4]:
segs = pd.read_csv('/Users/twood/Desktop/DLBCL_Feature_Matrix_Generation/inputs_for_gene_sample_matrix/DLBCL_786_segs.2021-12-15.ccf.txt',
                  sep='\t', index_col=0, low_memory=False)
segs

,Chromosome,Start,End,n_probes,length,n_hets,f,tau,sigma_tau,mu_minor,...,muA_nextbest,muB_nextbest,tau_nextbest,purity,ploidy,gender,IS_SCNA,NCN,Segment_Mean,equal
Sample,,,,,,,,,,,,,,,,,,,,,
DFCIDL001_DT,1,69549,16890559,1402,16821010,NaN,0.493503,2.024985,0.050427,0.999336,...,1.002388,1.014436,2.016825,0.600953,1.99207,NaN,0.0,2.0,0.018,True
DFCIDL001_DT,1,16892430,16893759,5,1329,NaN,NaN,1.027959,0.074831,NaN,...,NaN,NaN,1.402388,0.600953,1.99207,NaN,1.0,2.0,-0.960,True
DFCIDL001_DT,1,16895649,113661999,6004,96766350,NaN,0.500000,1.999728,0.050098,0.999864,...,1.002388,1.002388,2.004777,0.600953,1.99207,NaN,0.0,2.0,-0.000,True
DFCIDL001_DT,1,116563423,117753461,101,1190038,NaN,0.322857,1.356260,0.052603,0.437878,...,0.671075,0.671075,1.342150,0.600953,1.99207,NaN,1.0,2.0,-0.560,True
DFCIDL001_DT,1,117944935,228451954,5973,110507019,NaN,0.500000,2.007921,0.050099,1.003960,...,1.002388,1.002388,2.004777,0.600953,1.99207,NaN,0.0,2.0,0.006,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
DLBCL11685,9,46587,66482225,31211,66435638,453.0,0.500000,1.962020,0.050089,0.981010,...,0.978259,0.992753,1.985400,0.730000,2.02000,M,NaN,2.0,-0.028,True
DLBCL11685,9,66517546,69065736,94,2548190,2.0,0.151843,1.767794,0.070193,0.268428,...,0.644892,1.688474,2.350400,0.730000,2.02000,M,NaN,2.0,-0.178,True
DLBCL11685,9,69088194,135957428,45400,66869234,919.0,0.500000,1.963972,0.050072,0.981986,...,0.978259,0.992753,1.985400,0.730000,2.02000,M,NaN,2.0,-0.026,True
DLBCL11685,9,135962473,135968086,5,5613,3.0,0.207849,1.656899,0.196319,0.344385,...,0.340514,0.992753,1.343000,0.730000,2.02000,M,NaN,2.0,-0.272,True
DLBCL11685,9,135974079,141091382,2404,5117303,409.0,0.500000,1.969411,0.051421,0.984706,...,0.985506,0.992753,1.992700,0.730000,2.02000,M,NaN,2.0,-0.022,True

In [5]:
svs = pd.read_csv('/Users/twood/Desktop/DLBCL_Feature_Matrix_Generation/inputs_for_gene_sample_matrix/DLBCL_Shipp_Staudt.SVs.14-Dec-2021.txt',
                 sep='\t', index_col=0)
svs = svs.loc[~svs['class'].isna()]
svs

,individual,num,str1,chr1,pos1,str2,chr2,pos2,class,span,...,CCF1CI_high,CCF1_MODEL,CCF1_multiplicity,CCF1_negativeLogLikelihood,CCF2,CCF2CI_low,CCF2CI_high,CCF2_MODEL,CCF2_multiplicity,CCF2_negativeLogLikelihood
22,DFCIDL001_DT,8.0,1.0,9.0,5078217.0,0.0,9.0,5388547.0,tandem_dup,310330.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,DFCIDL001_DT,10.0,0.0,9.0,5568155.0,0.0,9.0,5584951.0,inversion,16790.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,DFCIDL001_DT,19.0,1.0,12.0,122460270.0,0.0,14.0,106326737.0,inter_chr,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,DFCIDL001_DT,28.0,1.0,9.0,5078220.0,1.0,9.0,5883844.0,inversion,805563.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,DFCIDL001_DT,32.0,0.0,16.0,10972248.0,1.0,16.0,11349188.0,deletion,376934.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,DLBCL_RICOVER_948,38.0,0.0,14.0,106329473.0,1.0,18.0,60793552.0,inter_chr,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,DLBCL_RICOVER_956,23.0,1.0,6.0,90812770.0,0.0,14.0,106326839.0,inter_chr,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,DLBCL_RICOVER_956,38.0,0.0,6.0,90812806.0,1.0,14.0,106326794.0,inter_chr,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440,DLBCL_RICOVER_977,28.0,1.0,3.0,187462683.0,0.0,15.0,72520186.0,inter_chr,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
441,DLBCL_RICOVER_99,11.0,1.0,2.0,145364159.0,0.0,14.0,106112633.0,inter_chr,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
maf = pd.read_csv('../../data_tables/maf_files/DLBCL_combined_699.hg38B.noPDE4DIP.noHISTartifacts.maf', sep='\t')
maf.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (3,4,17,18,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,40,41,42,43,44,45,46,47,49,51,55,56,57,58,59,60,62,63,65,66,67,68,69,71,72,73,74,76,78,79,80,81,82,83,84,85,86,87,88,89,90,93,94,95,96,98,99,100,101,103,107,108,111,113,114,115,117,118,121,122,123,124,125,126,127,128,130,131,133,135,136,137,138,140,141,143,144,145,146,147,149,150,151,153,155,156,158,159,160,161,163,164,165,166,168,170,171,172,174,175,176,177,178,179,180,181,186,187,188,191,192,195,196,197,198,200,203,205,206,207,208,209,211,213,215,216,217,220,221,222,224,227,228,230,231,232,233,234,235,236,237,238,239,240,241,242,244,246,247,248,249,250,251,254,255,258,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,279,280,281,282,283,284,285,288,289,290,291,292,293,294,295,296,297,298,299,301,304,305,307,308,309,310,314,315,316,317,318,319,320,321,322,324,325,326,327,328,329,332,334,335,336,337,338,339,340,341,342,345,346,348,351,354,355,356,359,360,363,364,366,367,368,369,371,372,373,375,377,378,379,380,381,383,385,387,391,392,405,418,426,427,428,429,430,431,432,433,434,435,436,439,440,445,448,449,450,453,454,457,458,460,461,462,463,465,466,467,469,471,472,473,474,475,477,479,481,485,486,502,590,615,616,617,619,620,621,622,623,624,625,626,627,628,629,630,632,633,634,635,636,637,638,640,641,642,643,644,645,647,648,649,650,651,653,654,655,656,657,658,659,660,661,662,663,667,668,669,670,671,673,674,675,676,677,679,681,682,683,684,685,686,687,689,690,691,692,693,694,695,696,697,700,701,703,705,706,708,709,710,711,712,713,714,715,716,717,718,719,720,721,723,725,726,727,728,730,731,732,733,734,735,736,737,738,740,741,743,744,747,749,750,752,753,754,755,756,758,759,761,763,766,767,768,770,771,772,774,776,777,778,780,782,784,785,786,787,788,790,794,797,800,801,802,803,804,821,823,824,825,826,827,828,829,830,832,833,835,836,838,842,843,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,864,865,866,867,868,869,871,872,873,875,876,877,878,879,880,881,882) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Hugo_Symbol,Entrez_Gene_Id,Center,NCBI_Build,Chromosome,Start_position,End_position,Strand,Variant_Classification,Variant_Type,...,HGNC_UniProt ID(supplied by UniProt),HGNC_VEGA IDs,dbNSFP_GERP++_NR,dbNSFP_GERP++_RS,dbNSFP_GERP++_RS_rankscore,dbNSFP_fold-degenerate,dbNSFP_hg18_pos(1-coor),i_CGC_GeneID,i_COSMIC_n_overlapping_mutations,pon_loglike
0,CBFA2T2,9139,broad.mit.edu,37,20,32232306,32232306,+,Missense_Mutation,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MICU2,221154,broad.mit.edu,37,13,22069394,22069394,+,Missense_Mutation,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UGT2B11,10720,broad.mit.edu,37,4,70079916,70079916,+,Silent,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ODC1,4953,broad.mit.edu,37,2,10583919,10583919,+,Missense_Mutation,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LIN28B,389421,broad.mit.edu,37,6,105406020,105406020,+,Silent,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
muts_per_sample = maf['Tumor_Sample_Barcode'].value_counts().sort_values()

In [8]:
def calc_cna_perc(sample):
    tmpdf = segs.loc[sample]
    total_cov = sum(tmpdf['End'] - tmpdf['Start'] + 1)

    del_cov = tmpdf.loc[tmpdf['Segment_Mean'] < -0.1]
    del_cov = sum(del_cov['End'] - del_cov['Start'] + 1)

    amp_cov = tmpdf.loc[tmpdf['Segment_Mean'] > 0.1]
    amp_cov = sum(amp_cov['End'] - amp_cov['Start'] + 1)
    
    del_frac = del_cov / total_cov
    amp_frac = amp_cov / total_cov
    
    return del_frac, amp_frac

In [9]:
calc_cna_perc('DFCIDL001_DT')

(0.046661315220490406, 0.048961992193796496)

In [10]:
cna_fracs = {}
for s in set(segs.index):
    d_f, a_f = calc_cna_perc(s)
    cna_fracs[s] = [d_f, a_f]

In [11]:
muts_per_sample = muts_per_sample.loc[samples]
muts_per_sample

DLBCL10877           234
DLBCL10928           686
DLBCL_MC_F648_JKW    110
DLBCL10844           106
DLBCL11501           760
                    ...
DLBCL_C_D_PAIR20     306
DLBCL11504           198
DLBCL_RICOVER_150    267
DLBCL11538           229
DLBCL_RICOVER_105     33
Name: Tumor_Sample_Barcode, Length: 699, dtype: int64

In [12]:
cna_df = pd.DataFrame.from_dict(cna_fracs, orient='index')
cna_df = cna_df.loc[samples]
cna_df.columns = ['del_frac', 'amp_frac']
cna_df['muts'] = muts_per_sample
cna_df

                   del_frac  amp_frac  muts
DLBCL10877         0.011636  0.122921   234
DLBCL10928         0.033666  0.187362   686
DLBCL_MC_F648_JKW  0.115768  0.176665   110
DLBCL10844         0.016773  0.145399   106
DLBCL11501         0.038886  0.044809   760
...                     ...       ...   ...
DLBCL_C_D_PAIR20   0.029745  0.227243   306
DLBCL11504         0.001318  0.188046   198
DLBCL_RICOVER_150  0.108972  0.156758   267
DLBCL11538         0.000836  0.003160   229
DLBCL_RICOVER_105  0.042758  0.132234    33

[699 rows x 3 columns]

In [13]:
shipp_samples = pd.read_csv('../../data_tables/sample_sets/ShippStaudtSets.purity0.2.txt', sep='\t', index_col=0)
shipp_samples = shipp_samples.loc[shipp_samples['cohort'] == 'Shipp'].index
shipp_samples

Index(['DFCIDL001_DT', 'DFCIDL010_DT', 'DLBCL_RICOVER_290',
       'DLBCL_RICOVER_451', 'DLBCL_RICOVER_473', 'DLBCL_RICOVER_694',
       'DLBCL_RICOVER_826', 'DLBCL_RICOVER_829', 'DLBCL_RICOVER_865',
       'DLBCL_RICOVER_945',
       ...
       'DLBCL_RICOVER_1192', 'DLBCL_RICOVER_1106', 'DLBCL_RICOVER_1190',
       'DLBCL_MC_F990_MNA', 'DLBCL_C_D_PAIR2', 'DLBCL_C_D_PAIR20',
       'DLBCL_C_D_PAIR22', 'DLBCL_C_D_PAIR23', 'DLBCL_C_D_PAIR5',
       'DLBCL_C_D_PAIR9'],
      dtype='object', name='SampleName', length=277)

In [14]:
sv_counts = svs.loc[svs['individual'].isin(shipp_samples)]

In [15]:
sv_counts = sv_counts['individual'].value_counts()
sv_counts = pd.DataFrame(sv_counts, index=sv_counts.index)
sv_counts

                         individual
DLBCL_C_D_1148_NULLPAIR          18
DLBCL_C_D_1157_NULLPAIR          12
DLBCL_C_D_1106_NULLPAIR           7
DLBCL_C_D_1129_NULLPAIR           7
DLBCL_RICOVER_678                 7
...                             ...
DLBCL_RICOVER_1269                1
DLBCL_RICOVER_1263                1
DLBCL_C_D_1127_NULLPAIR           1
DLBCL_RICOVER_1248                1
DLBCL_RICOVER_99                  1

[173 rows x 1 columns]

In [16]:
no_svs = shipp_samples[~shipp_samples.isin(sv_counts.index)]

In [17]:
for s in no_svs:
    sv_counts.loc[s] = 0

In [18]:
sv_counts

                         individual
DLBCL_C_D_1148_NULLPAIR          18
DLBCL_C_D_1157_NULLPAIR          12
DLBCL_C_D_1106_NULLPAIR           7
DLBCL_C_D_1129_NULLPAIR           7
DLBCL_RICOVER_678                 7
...                             ...
DLBCL_C_D_PAIR20                  0
DLBCL_C_D_PAIR22                  0
DLBCL_C_D_PAIR23                  0
DLBCL_C_D_PAIR5                   0
DLBCL_C_D_PAIR9                   0

[277 rows x 1 columns]

In [19]:
sv_counts.to_csv('../../data_tables/raw_sv_counts.tsv', sep='\t')

In [20]:
cna_df.to_csv('../../data_tables/raw_muts_cnas_counts.tsv', sep='\t')